html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Assistant", sans-serif;
    background-color: #f5f5f5;
    position: relative;
}

img {
    width: 100%;
}

#navbar {
    background-color: rgba(0, 0, 0, 0.496);

    .nav-link {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: white;
        position: relative;
        overflow: hidden;
        padding-left: 0;

    }

    .navbar-collapse {
        flex-grow: 0;
    }

    .navbar-brand {
        font-size: 32px;
        font-weight: 600;
        line-height: 34px;
        color: white;
    }

    .nav-item {
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        /* overflow: hidden; */
    }

    .nav-link::before,
    .active::before {
        content: " ";
        position: absolute;
        background-color: white;
        width: 60%;
        height: 3px;
        left: -62%;
        top: 90%;
        transition: all 0.5s;

    }

    .nav-link:hover::before,
    .active::before {
        left: 0;
    }


    /* .nav-item::before .dropdown:hover #dropdown-menu {
        visibility: visible;
        opacity: 1;
        top: 55px;

    } */


    .dropdown-menu {
        display: none;
        opacity: 0;
        top: 100px;
        left: 9px;
        border-radius: 0;
        transition: all 0.5s;
    }

    .dropdown:hover #dropdown-menu {
        display: block;
        opacity: 1;
        top: 55px;
    }

    .dropdown-menu li {
        position: relative;
        background-color: transparent;
    }


    .dropdown-menu li:hover .f-dropdown-item,
    .dropdown-submenu li:hover a {
        position: relative;
        color: #0078ff;
        background-color: transparent;
    }



    .dropdown-menu .dropdown-item {
        padding: 10px 20px;
        font-size: 14px;
        text-transform: none;
        color: #4e4e4e;
    }

    .dropdown-menu .dropdown-submenu {
        display: block;
        opacity: 0;
        position: absolute;
        left: 85%;
        top: -7px;
        border-radius: 0;
        transition: all 0.5s;
        box-shadow: -3px 7px 18px 0px rgba(0, 0, 0, 0.2);

    }

    .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu>li:hover>.dropdown-submenu {

        opacity: 1;
        left: 100%;

    }


}



.home-container .back-to-home {
    font-size: 20px;
    left: 91%;
    top: 93%;
    z-index: 5000;
}

.home-container .back-to-home::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #0078ff;
    border-radius: 50%;
    position: absolute;
    left: -148%;
    top: -100%;
    margin: 5px;
    z-index: -10000;
}

.home-container .back-to-home:hover::after {
    background-color: #3b96ff;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .caption {
        color: white;
        font-weight: 600;
        text-align: center;
    }

    .caption h1 {
        font-size: 74px;
        line-height: 86px;
    }

    .caption span {
        font-size: 42px;
        line-height: 60px;
    }

}


#about {

    .container {
        background-color: white;
        padding-right: 12px;
        padding-left: 12px;
        margin-top: 140px;
        margin-bottom: 100px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    }

    .container>.row {
        margin-left: 12px;
        margin-right: 12px;

    }

    .container .col-md-6 {
        margin-top: 0;
    }

    .container img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin-bottom: 32px;
    }

    .container .about-info p {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: rgb(78, 78, 78);
    }

    .container .about-info span {
        font-size: 20px;
        font-weight: 600;
        color: rgb(30, 30, 30);
        line-height: 26px;

    }

    .container .skill p {
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        color: rgb(30, 30, 30);
    }

    .container .skill span {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: rgb(78, 78, 78);
        margin-left: 0;
    }

    .container .skill .progress {
        margin: 10px 0 12px 10px;
        padding: 0;
        border-radius: 0;
    }

    .container .skill .progress .progress-bar {
        background-color: #0078ff;
    }

    .container .skill .progress .progress-bar-85 {
        width: 85%;
    }

    .container .skill .progress .progress-bar-90 {
        width: 90%;
    }

    .container .about-me h5 {
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
        color: rgb(30, 30, 30);
        position: relative;
        margin-bottom: 45px;
    }

    .container .about-me h5::after {
        content: " ";
        background-color: #0078ff;
        height: 4px;
        width: 16%;
        position: absolute;
        top: 115%;
        left: 0;
    }

    .container .about-me p {
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        color: rgb(78, 78, 78);
    }

}

#services .container h3,
#work .container h3,
#blog .container h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
    color: rgb(30, 30, 30);
}

#services .container .sub-title,
#work .container .sub-title,
#blog .container .sub-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(78, 78, 78);
    position: relative;
}

#services .container .sub-title::after,
#work .container .sub-title::after,
#blog .container .sub-title::after {
    content: " ";
    width: 5%;
    height: 4px;
    background-color: #0078ff;
    position: absolute;
    top: 170%;
    left: 48%;
}

#services {
    .container .service-card {
        box-shadow: 0px 11px 5px -3px rgba(0, 0, 0, 0.1);
        background-color: white;
        border-radius: 15px;
    }

    .container .service-card .icon {
        width: 100px;
        height: 100px;
        box-shadow: 0px 0px 0px 10px rgba(0, 120, 255, 1);
        transition: all 0.5s;
    }

    .container .service-card:hover .icon {
        background-color: #0078ff;
        box-shadow: 0px 0px 0px 10px rgba(0, 120, 255, 0.3);
    }

    .container .service-card .icon i {
        font-size: 40px;
    }

    .container .service-card h2 {

        font-size: 24px;
        font-weight: 500;
        line-height: 27px;
        color: rgb(30, 30, 30);

    }

    .container .service-card p {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(78, 78, 78);

    }
}

#counter {
    margin-bottom: 100px;
    background-image: linear-gradient(rgba(0, 119, 255, 0.5), rgba(0, 119, 255, 0.5)), url(../images/counters-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    .icon {
        width: 60px;
        height: 60px;
        box-shadow: 0 0 0 10px #cde1f8;
    }

    .count-unit .icon i {
        font-size: 28px;
        color: #cde1f8;
    }

    .count-unit .counter-num p,
    .count-unit .counter-num span {
        font-size: 34px;
        font-weight: 400;
        line-height: 48px;
        color: #cde1f8;
        margin: 0;
    }

    .count-unit .counter-num span {
        font-size: 18px;
        line-height: 24px;
    }
}

.modal {
    .modal-content img {
        height: 367px;
        width: 587px;

    }
}


#work {

    .container .work-card {
        box-shadow: 0px 11px 5px -3px rgba(0, 0, 0, 0.1);
    }

    .container .work-card .image {
        overflow: hidden;
    }

    .container .work-card .image img {
        transition: all 1s;
    }

    .container .work-card:hover img {
        scale: 1.2;
    }


    .container .work-card .work-content {
        padding: 32px 12px 16px 16px;
    }

    .container .work-card .work-content h2 {
        font-size: 21px;
        font-weight: 500;
        line-height: 23px;
        color: rgb(30, 30, 30);

    }

    .container .work-card .work-content p,
    .container .work-card .work-content span {
        font-size: 15px;
        font-weight: 400;
        line-height: 19px;
        color: rgb(0, 120, 255);

    }

    .container .work-card .work-content p {
        color: rgb(78, 78, 78);
    }

    .container .work-card .work-content .icon {
        width: 40px;
        height: 60px;
    }

    .container .work-card .work-content a i {
        font-size: 30px;
        color: #0078ff;
        position: relative;
    }

    .container .work-card .work-content a i::after {
        content: " ";
        width: 170%;
        height: 153%;
        border-radius: 50%;
        border: 3px solid #0078ff;
        position: absolute;
        top: -23%;
        left: -33%;
    }
}


#caruosel-slide {
    background-image: linear-gradient(rgba(0, 119, 255, 0.5), rgba(0, 119, 255, 0.5)), url(../images/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 11px 5px -3px rgba(0, 0, 0, 0.1);
    padding-top: 9%;
    padding-bottom: 10%;


    .carousel-indicators {
        bottom: -40px;
    }

    .carousel-indicators .button {
        width: 15px;
        height: 15px;
    }

    .carousel-inner img {
        width: 150px;
    }

    .carousel-inner .content {}

    .carousel-caption {
        padding-left: 21%;
        padding-right: 21%;
    }

    .carousel-caption h5 {
        font-size: 28px;
        font-weight: 600;
        line-height: 34px;
        color: white;
        margin: 2%;
        margin-bottom: 5%;
    }

    .carousel-caption p {
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        color: white;
    }
}



#blog {


    .container .blog-card {
        border: 1px solid #1e1e1e60;
        border-radius: 0 0 10px 10px;
        box-shadow: 0px 11px 5px -3px rgba(0, 0, 0, 0.1);
    }



    .blog-content .category {
        background-color: #0078ff;
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
    }


    .blog-content .card-body {
        padding-top: 30px;
    }

    .blog-content .card-body h3 a {
        font-size: 23px;
        font-weight: 500;
        line-height: 25px;
        color: black;
        text-decoration: none;
        transition: all 1s;
    }

    .blog-content .card-body h3 a:hover {
        color: #0078ff;
    }

    .blog-content .card-body p {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(78, 78, 78);
    }

    .blog-content .footer {
        padding: 8px 16px;
        background-color: #f5f5f5;
        box-sizing: border-box;
        border-top: 1px solid #1e1e1e60;
        border-radius: 0 0 10px 10px;
    }

    .blog-content .footer a img {
        width: 32px;
        height: 32px;
    }

    .blog-content .footer a {
        text-decoration: none;

    }

    .blog-content .footer a:hover span {
        color: #0078ff;
    }

    .blog-content .footer a span {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: #1e1e1e;
        transition: all 1s;
    }

    .blog-content .footer .blog-date p,
    .blog-content .footer .blog-date span {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(78, 78, 78);
    }

}

.home-container .bg-plue {
    background-color: #1d83f9;
}

#contact {

    background-image: linear-gradient(rgba(0, 119, 255, 0.5), rgba(0, 119, 255, 0.5)), url(../images/overlay-bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 11px 5px -3px rgba(0, 0, 0, 0.1);

    .container {
        background-color: white;
        padding-right: 12px;
        padding-left: 12px;
        margin-top: 140px;
        margin-bottom: 100px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    }

    .container>.row {}

    .container .col-md-6 {
        margin-top: 0;
    }

    .container .left-content form input,
    .container .left-content form textarea {
        padding: 10px 15px;
        margin-bottom: 16px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: rgb(33, 37, 41);
        border: 1px solid #dee2e6;
        outline: none;
        transition: all .15s;
    }

    .container .left-content form input:focus,
    .container .left-content form textarea:focus {
        border: 1px solid #0078ff;
        box-shadow: 0px 0px 0px 3px rgba(0, 120, 255, 0.3);
    }

    .container .left-content .button button {
        padding: 12px 26px;
        border-radius: 50px;
        border: none;
        background-color: #0078ff;
        font-size: 21px;
        font-weight: 400;
        line-height: 29px;
        color: white;
    }

    .container .left-content .button button:hover {
        background-color: #288bfc;
        box-shadow: 0px 0px 0px 5px rgba(0, 120, 255, 0.3);
    }

    .container .title-box h5 {
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
        color: rgb(30, 30, 30);
        position: relative;
        margin-bottom: 45px;
    }

    .container .title-box h5::after {
        content: " ";
        background-color: #0078ff;
        height: 4px;
        width: 16%;
        position: absolute;
        top: 115%;
        left: 0;
    }

    .container .right-content .more-info p {
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        color: rgb(78, 78, 78);
    }

    .container .right-content ul {
        list-style: none;

    }

    .container .right-content .more-info .list-ico li {
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        color: rgb(78, 78, 78);
    }

    .container .right-content .more-info .list-ico li span {
        color: #0078ff;
        font-size: 16px;
        margin-right: 10px;
    }


    .container .right-content .socials .icon {
        width: 40px;
        height: 40px;
        box-shadow: 0px 0px 0px 3px rgba(0, 120, 255, 1);
        transition: all 0.5s;
    }

    .container .right-content .socials .icon:hover {
        background-color: #0078ff;
        box-shadow: 0px 0px 0px 3px rgba(0, 120, 255, 0.3);
    }

    .container .right-content .socials .icon:hover a i {
        color: white;
    }

    .container .right-content .socials .icon a i {
        font-size: 20px;
        color: black;
    }
}

#footer {

    .container p,
    .container a {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: white;
    }

    .container a {
        text-decoration: none;
    }
}



/*==================portfolio Details=============================*/

#portfolio-details {
    background-color: #f5f5f5;

    #home {
        background-image: linear-gradient(rgba(0, 119, 255, 0.7), rgba(0, 119, 255, 0.7)), url(../images/overlay-bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    #home .caption span {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.801);
        text-decoration: none;
    }

    .row {
        padding-top: 9%;
        padding-bottom: 10%;
    }

    #caruosel-slide {
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    #caruosel-slide .carousel-indicators {
        bottom: -40px;

    }

    #caruosel-slide .carousel-indicators .button {
        width: 15px;
        height: 15px;
        border: 1px solid #0078ff;

    }

    .carousel-indicators [data-bs-target] {
        background-color: white;

    }

    #caruosel-slide .carousel-indicators .active {
        background-color: #0078ff;
    }

    .carousel-inner img {
        width: 100%;
    }



    .portfolio-info {
        padding: 30px;
        box-shadow: 0px 0 30px rgba(78, 78, 78, 0.08);
    }

    .portfolio-info>h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 26px;
        color: rgb(30, 30, 30);
        text-decoration: none;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eee;
    }

    .portfolio-info ul {
        list-style: none;
        padding: 0;
        font-size: 17px;
        color: rgb(78, 78, 78);
    }

    .portfolio-info p {
        font-size: 17px;
        font-weight: 800;
        line-height: 23px;

    }

    .portfolio-info span,
    .portfolio-info span a {
        font-weight: 400;
        line-height: 23px;
        color: rgb(78, 78, 78);
    }

    .portfolio-description {
        padding-top: 30px;
    }

    .portfolio-description h2 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 20px;
        color: #1e1e1e;
        width: 90%;
    }

    .portfolio-description p {
        font-size: 19px;
        line-height: 24px;
        font-weight: 400;
        color: rgb(78, 78, 78);
        margin-bottom: 16px;
    }
}

.footer {
    background-color: #1d83f9;

    .container p,
    .container a {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: white;
    }

    .container a {
        text-decoration: none;
    }
}


/*==================blog Details=============================*/
#blog-details {
    background-color: #f5f5f5;
    box-shadow: 0px 0 30px rgba(78, 78, 78, 0.08);

    #home {
        background-image: linear-gradient(rgba(0, 119, 255, 0.7), rgba(0, 119, 255, 0.7)), url(../images/overlay-bg.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

    #home .caption span {
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.801);
        text-decoration: none;
    }

    p {
        font-size: 19px;
        line-height: 24px;
        font-weight: 400;
        color: rgb(78, 78, 78);

    }

    .row {
        padding-top: 9%;
        padding-bottom: 10%;
    }



    .post-box .post-meta ul {
        border-left: 6px solid #0078ff;
        padding: 6px;
        padding-left: 15px;
    }

    .post-box .post-meta ul i {
        color: rgb(30, 30, 30);
    }

    .post-box .article-content .blockquote {

        border-left: 4px solid #0078ff;

    }

    .post-box .article-content .blockquote p {
        font-size: 24px;
        font-style: italic;
        line-height: 34px;

    }

    .comments-box .title-left,
    .comments-form .title-left {
        font-size: 34px;
        font-weight: 500;
        line-height: 38px;
        color: rgb(30, 30, 30);
    }

    .comments-box .title-left::before,
    .comments-form .title-left::before {
        content: "";
        position: absolute;
        width: 14%;
        height: 4px;
        background-color: #0078ff;
        bottom: -10;
        left: 0;
    }


    .container form input,
    .container form textarea {
        padding: 10px 15px;
        margin-bottom: 16px;
        margin-left: 10px;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        color: rgb(33, 37, 41);
        border: 1px solid #dee2e6;
        outline: none;
        transition: all .15s;
        border-radius: 10px;
    }

    .container form input:focus,
    .container form textarea:focus {
        border: 1px solid #0078ff;
        box-shadow: 0px 0px 0px 3px rgba(0, 120, 255, 0.3);
    }

    .container .button button {
        padding: 12px 26px;
        border-radius: 50px;
        border: none;
        background-color: #0078ff;
        font-size: 21px;
        font-weight: 400;
        line-height: 29px;
        color: white;
        transition: all 0.5s;
    }

    .container .button button:hover {
        background-color: #288bfc;
        box-shadow: 0px 0px 0px 5px rgba(0, 120, 255, 0.3);
    }


    .widget-sidebar .sidebar-title {

        font-size: 28px;
        font-weight: 600;
        line-height: 31px;
        color: rgb(30, 30, 30);
        border-left: 5px solid #0078ff;

    }

    .sidebar-search .form-control {
        border-radius: 0;
    }

    .sidebar-search .input-group-btn .btn {
        border: none;
        border-radius: 0;
        background-color: #0078ff;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

    }

    .widget-sidebar .list-sidebar li {
        padding-left: 20px;
    }

    .widget-sidebar .list-sidebar li::before {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        background-color: #0078ff;
        top: 45%;
        left: 0;
    }

    .widget-sidebar .list-sidebar li a {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(78, 78, 78);
        transition: all 1s;

    }

    .widget-sidebar .list-sidebar li a:hover {
        color: #0078ff;
    }

    .widget-sidebar .tags li a {
        background-color: #0078ff;
        border-radius: 15px;
    }


    .footer {
        background-color: #1d83f9;

        .container p,
        .container a {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: white;
        }

        .container a {
            text-decoration: none;
        }
    }

}